html, body{
    overflow: hidden;
}
body{
    margin: 4px;
    padding: 4px;
    width: 400px;
    background: black !important;
}
.main{
    padding: 10% 1%;
    margin: 0;
    border:0px !important;
    background-color: #000;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
h6{
    margin-bottom: 0 !important;
}
input{
    width: 90%;
    margin-top: 7%;
    padding: 3% 2%;
    border: none;
    background-color: #fff;
    outline: 0 !important;
}
.icon-size{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 4%;
    padding:3% 5%;
    color: #fff;
    border-radius: 0 !important;
    font-weight: 400;
    transition: all 0.2s ease-out;
}

.btn:hover{
    background-color: #f3f3f3c4;
    transition: all 0.2s ease-out;
}
.platform-option{
    padding: 0% 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.platform-option-inner{
    display: flex;
    justify-content: center;
    padding: 10px 0%;
    width: 100%;
    color: #000;
    background-color: #fff;
}
.ssport-btn{
    background-color: #000;
    color: #fff;
}
.ssport-btn:hover{
    background-color: #fff;
    color: #000
}
input::placeholder{
    text-align: center;
}