.player__wrapper{
    width: 65vw !important;
}
#saranApp{
    display: flex;
}
.similar-contents-container{
    display: none;
}
.video-header{
    width: 60vw !important;
    z-index: -999 !important;
}
.settings__container{
    transform: translateX(-200%) !important;
}